<robot name="rover5">
  <!-- BASE_LINK -->
  <link name="base_link">
    <visual>
      <origin xyz="-0.1225 0.1555 0.074" rpy="0 0 0" />
      <geometry>
        <mesh filename="package://Rover5_ROS/meshes/rover5.stl"  scale="0.01 0.01 0.01"/>
      </geometry>
      <material name="white">
        <color rgba="1 1 1 1"/>
      </material>
    </visual>
  </link>
</robot>