<launch>

<!-- Rover5 - Main Node" -->
  <node pkg="Rover5_ROS"
	type="rover5_ros"
	name="rover5_ros"
	output="screen">
  </node>

 <!-- joy node -->
  <node respawn="true" pkg="joy"
        type="joy_node" name="rover5_joy" >
    <param name="dev" type="string" value="/dev/input/js1" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>

<!-- server node -->
  <node pkg="Rover5_ROS"
		type="rover5_coms"
		name="rover5_coms"
		output="screen" >
  </node>

</launch>
