<launch>

 <!-- joy node -->
  <node respawn="true"
		pkg="joy"
        type="joy_node"
        name="rover5_joy" >
    <param name="dev" type="string" value="/dev/input/js0" />
    <param name="deadzone" value="0.12" />
  </node>

 <!-- Axes -->
  <param name="axis_linear" value="1" type="int"/>
  <param name="axis_angular" value="0" type="int"/>
  <param name="scale_linear" value="2" type="double"/>
  <param name="scale_angular" value="2" type="double"/>
  
<!-- IMU filter --> 
  <node pkg="imu_filter_madgwick" 
  		type="imu_filter_node" 
  		name="imu_filter_node">
    <param name="gain" value="0.05"/>
    <param name="zeta" value="0.1"/>
    <param name="orientation_stddev" value="0.1"/>
    <param name="use_mag" value="false"/>
    <param name="publish_tf" value="false"/>
    <remap from="imu/data" to="imu_data"/>
  </node> 
  
 <!-- ekf --> 
  <node pkg="robot_pose_ekf" 
  		type="robot_pose_ekf" 
  		name="robot_pose_ekf"
  		output="screen">  	
    <param name="output_frame" value="odom"/>
    <param name="freq" value="30.0"/>
    <param name="sensor_timeout" value="1.0"/>
    <param name="odom_used" value="true"/>
    <param name="imu_used" value="true"/>
    <param name="vo_used" value="false"/>
    <param name="debug" value="false"/>
    <param name="self_diagnose" value="false"/>
  </node>

<!-- server node -->
  <node pkg="Rover5_ROS"
		type="rover5_coms"
		name="rover5_coms"
		output="screen" >
  </node>

<!-- map node -->
  <node pkg="Rover5_ROS"
		type="rover5_map"
		name="rover5_map"
		output="screen">
  </node>

<!-- odometry node -->
  <node pkg="Rover5_ROS"
		type="rover5_odom"
		name="rover5_odom"
		output="screen">
  </node>

<node pkg="tf" type="static_transform_publisher" name="sonar_broadcaster" args="0.09 0 0.09 0 0 0 1 base_footprint range 100" />
<node pkg="tf" type="static_transform_publisher" name="imu_broadcaster" args="0.08 0 0.09 0 0 0 1 base_footprint imu 100 " />

<!-- imu node -->
  <node pkg="Rover5_ROS"
		type="rover5_imu"
		name="rover5_imu"
		output="screen">
  </node>

<!-- sonar node -->
  <node pkg="Rover5_ROS"
		type="rover5_sonar"
		name="rover5_sonar"
		output="screen">
  </node>

<param name="robot_description" command="cat $(find Rover5_ROS)/urdf/rover5.urdf" />

<!-- RVIS -->
  <node pkg="rviz"
		type="rviz"
		name="modelvisualisation"
		output="screen" >
  </node>

</launch>
